---
const year = new Date().getFullYear();
---

<footer
    class="py-12 border-t border-gray-200 dark:border-gray-800 mt-20 text-center relative"
>
    <p class="text-gray-500 dark:text-gray-500 text-sm font-medium">
        &copy; {year} echo-whoami. All rights reserved.<a
            href="/admin"
            class="opacity-0 w-1 h-1 inline-block absolute bottom-0 right-0 cursor-default"
            aria-hidden="true"
            tabindex="-1">.</a
        >
    </p>
</footer>
